*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000000;
    --white: #FFFFFF;
    --laranja:#B28756;
    --cinza: #F0F8FF;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height:120px;
}

.header-msg{
    height: 20px;
    font-family: sans-serif;
    font-size:13px;
    text-align: center;
    background-color: #F0F8F2; 
    color: #000000;
}

.logo{
    height:50px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.logo a{     
    margin-top:10px;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}

.header{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu ul, 
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}
.menu li a{
    color: var(--black);
    text-transform: uppercase;
    font-weight: 600;
    font-size:12px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #fff;
}

.menu li a:hover{
    border-bottom: 5px solid var(--laranja);
    color: rgb(165, 161, 161);
}
/* .menu .action a{
    border-bottom: 5px solid var(--laranja);
} */

.home__main {
    background-color: #fff;
}

.home-banner {
    height: calc(100vh - 120px);
    background-color: #333333;
    background-image: url('../../assets/images/img1.jpg');
    background-size: cover;
}

.home-banner .home-banner__sliders{
    width: 1000vw;
    height: 100%;
}
.home-banner .home-banner__slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-banner .home-banner__slidearea{
    display:flex;   
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

.home-banner .home-banner__slidearea h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: #ffff;
}
.home-banner .home-banner__slidearea h1 span{
    color: var( --laranja);
}

.home-banner .home-banner__slidearea h2{
    text-transform: uppercase;
}

.home-banner a{
    display: block;
    background-color: var(--laranja);
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600px;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
}

.home-banner .home-banner__sliders-cetas{
    width: 100vw;
    height: 50px;
    position: absolute;
    top: 60%;
    left:0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    justify-content: space-between;
 
}

.home-banner .home-banner__sliders-cetas-next, 
.home-banner .home-banner__sliders-cetas-prev{
    width:40px;
    margin-right: 20px;
    margin-left: 20px;
    font-size:50px;
    display: flex;
    align-items: center;
    outline: none;
    cursor:pointer;  
    border:0; 
}


.home-banner .home-banner__sliders-cetas-next:hover, 
.home-banner .home-banner__sliders-cetas-prev:hover{
    background-color: #B28756;
}

.home-banner .home-banner__sliders-pointers{
    width: 100vw;
    height:20px;
    position: absolute;
    margin-top: -30px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.home-banner .home-banner__sliders-pointers .pointer{
    width: 15px;
    height: 15px;
    border:2px solid #B28756;
    border-radius: 10px;
    margin-left:5px;
    margin-right: 5px;
    cursor: pointer;

}


/* .section-title.cards {
    font-size: 36px;
}

.section-title {
    font-family: Bebas Neue;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-size: 1.875rem;
    margin-bottom: 1.8125rem;
}     */

/* .home-banner-collection__container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-left: 2rem;
        padding-right: 32px;
        padding-right: 2rem;
        width: 100%;
        max-width: 1920px;
} */
/* .home-banner-collection__container_one{
    display: flex; 
}
.home-banner-collection__wrapper {
    width: calc(100% / 3 - 5.333333333333333px);
} */
/* 
.home-banner-collection__component {
    margin-bottom: 47px;
    margin-bottom: 2.9375rem;
}
.home-banner-collection__wrapper_leed{
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-banner-collection__wrapper:not(:first-child) {
    margin-left: 8px;
    margin-left: .5rem;
}

.vve-image__single {
    width: 95%;
}

.shelf .slick-list {
    margin-left: -7px;
}

.shelf__item {
    position: relative;
    background-color: #fff;
}

.shelf__img-container {
    position: relative;
}

.x-shelf__link {
    display: block;
    width: 100%;
}

.slick-slide img {
    display: block;
}

.load-shelf .x-shelf__img-container .x-shelf__link .x-shelf__placeloader img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
}

img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
} */